# Python3 basics class # 4

### Printing Stuff

In [27]:
#printing stuff

print(3.14)
print(2357)
print("this is review notebook")
print('hello!\nthis is lauren') # \n is new-line
print(True)
print(False)
print(23444444444444444444444444444444)

print("let's study python!")

3.14
2357
this is review notebook
hello!
this is lauren
True
False
23444444444444444444444444444444
let's study python!

In [28]:
'hi\n' # the last thing in the cell is also displayed automatically.
# note. it's not the same as printing it directly
3
2
1

1

### Defining variables

In [32]:
room_number = 2
course_name = "Linear Algebra for Data Science" # a string/text
course_description = "Not what I signed up for..." #single quotes also work

verbosity_factor = 1 # that'd be great

print(type(verbosity_factor)) # it will be "int: integer"

expected_mini_lecture_duration_in_min = 15

verbosity_factor = 1.73 # now a 'real' (floating point) number
print(type(verbosity_factor)) # overwrite variable

is_class_in_progress = True

<class 'int'>
<class 'float'>

In [33]:
# we can print-out the values of our variables
# functions are called as : function_name(argument1, argument2)

print(course_name)
print(course_description)
print(room_number, is_class_in_progress)
print(expected_mini_lecture_duration_in_min)

Linear Algebra for Data Science
Not what I signed up for...
2 True
15

#### check out the extra_overwrite notebook!

In [ ]:
print(type(course_name)) # string
print(type(expected_mini_lecture_duration_in_min)) #integer
print(type(verbosity_factor)) # float
print((is_class_in_progress)) # bool

<class 'str'>
<class 'int'>
<class 'float'>
True

### Expressions

In [35]:
actual_mini_lecture_duration_in_min = verbosity_factor*expected_mini_lecture_duration_in_min

room_number = 2
room_number + 100 # this expression doesn't relly do anything

some_value = room_number + 100 # but we can assign its value to a variable
some_other_value = 2*some_value

print(actual_mini_lecture_duration_in_min)
print(some_value, some_other_value)

25.95
102 204

### Potentially weired 'integer' division

In [ ]:
n = 3
print(n / 2) # true division (resulting in a float)
print(n // 2) # floor division (resultiing in a integer)
#print 4

1.5
1

### Task: try some other combinations?

In [70]:
# multiply a string by a number
a = 'apple'
b = 3
print(a * b) # apple apple apple

# multiply a string by negative number
c = 'orange'
d= -2
print(c*d) # 

# divide by zero
e = 'kiwi'
f = 0
print(e*f)

# does the % operator do?
print(10 % 3)


# % operator for negative numbers
# % is a modulo -> remainder after division
print(10 % -3)

# ^^ does not exist in python
# ^ is bitwise XOR
birth_month= 2
birth_date = 19
result = birth_month ^ birth_date
print("Result of XOR:", result)
# ** is exponentiation

appleappleapple


1
-2
Result of XOR: 17

### Updating variables

In [66]:
t = 0 # starts with integer
print(type(t))
print(t)
x = 5

t = t + 10*x # update syntax
print(t)

t += 5 # t = t + 5
print(t)

t *= 2 # t = t * 2
print(t)

t /= 2 # t = t / 2
print(t)

<class 'int'>
0
50
55
110
55.0

In [67]:
print(type(t))

<class 'float'>

you can see updting varaibles, the type of t has changed !

### Multi-initialization and swapping
(very useful)

In [69]:
a, b = 5, 10 # simply initializes a as 5 and b as 10
print(a, b)
a, b = b, a # idiomatic swap
print(a, b)

c = b, a 
print(c)

d = a, b
print(d)

5 10
10 5
(5, 10)
(10, 5)

### Conditions (if)

In [83]:
room_number = 3
print(room_number)

if room_number == 2:
    print("Lecture today")
    ok = True
else:
    print("???")
    nok = False

3
???

In [84]:
print(ok)

False

for the ok = True, nok = False

they are Boolean values in python. they represent yes/no, on/off, success/failure, condition met / not met.

they're often used to rememver the result of a deicision so the program can use it later.

so here, since room_number = 3, the condiiton is false, so the else block runs.
remmeber these varaibles are flags

In [80]:
# one flag
if room_number == 2:
    ok = True
else:
    ok = False

# or even shorter
ok = (room_number == 2)

### More complicated conditions

* logical operations (and, or, not)
* elif, else

In [86]:
current_topic = 'real analysis 1'
room_number = 235

if room_number == 235 and current_topic == 'real analysis 1':
    print("right room")
elif room_number == 1:
    print("definitely not my room")
else:
    print('maybe?')

right room

### EXTRA